[branch "master"]
	rebase = true
[alias]
	dc = diff --cached
	ap = add -p
	amend = commit --amend
	fix-author = commit --amend --reset-author
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
	rum = rebase master@{u}
[core]
	pager = less -FXRS -x2
	excludesfile = /Users/adamcoulter/.gitignore_global
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetupmerge = true
[rebase]
	autosquash = true
[push]
	default = simple
[user]
	email = coulterad@gmail.com
	name = Adam Coulter
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
